# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/

# IDE / local files
.vs/
.idea/
.vscode/
.gradle/
.DS_Store
Thumbs.db
.vsconfig

# Unity generated project files
*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Plastic / UVCS leftovers
.plastic/
ignore.conf

# Optional local logs
logRunSetup.txt

# Wwise local/cache files
Dragon Soup_WwiseProject/.cache/
Dragon Soup_WwiseProject/Cache/
Dragon Soup_WwiseProject/Logs/
Dragon Soup_WwiseProject/.vs/
Dragon Soup_WwiseProject/.idea/
Dragon Soup_WwiseProject/GeneratedSoundBanks/Mac/
Dragon Soup_WwiseProject/GeneratedSoundBanks/Windows/
Dragon Soup_WwiseProject/*.backup
Dragon Soup_WwiseProject/*.akd
Dragon Soup_WwiseProject/*.prof
Dragon Soup_WwiseProject/*.validationcache
Dragon Soup_WwiseProject/*.wsettings
Dragon Soup_WwiseProject/IncrementalSoundBankData.xml
Assets/WwiseSettings.xml
